body {
  padding: 0;
  margin: 0;
}

#main {
  margin: 0 10px;
}

#content {
  margin: 10px 10px 0px 0px;
}

#content form {
  width: 250px;
  background-color: #fad3d3;
  padding: 10px;
  margin-bottom: 10px;
}

#sidebar {
  flex-basis: 20%;
  background-color: #dff8fc;
  border: 2px solid #87d0ec;
  margin: 10px 0;
  padding: 5px 20px 5px;
}

#post-block {
  background-color: #dff8fc;
  border: 2px solid #87d0ec;
  margin-bottom: 10px;
  padding: 20px;
}

#post-block h1 {
  color: #417a94;
}

#post-block h2 a {
  color: #53add1;
}

.date {
  color: #8eaac4;
  font-weight: bold;
  font-style: italic;
}

#content .text {
  color: #c9474d;
  font-size: 18px;
  text-align: justify;
}

/* forms */
#post-block label {
  float: left;
  clear: both;
  color: #333;
  margin-bottom: 4px;
}

#post-block input#id_name {
  margin-left: 30px;
}

#post-block input#id_email {
  margin-left: 30px;
}

#post-block input#id_to {
  margin-left: 53px;
}

#post-block textarea#id_comments {
  font-size: 12px;
}

#post-block input[type="submit"] {
  font-weight: bold;
  background: #00abff;
  color: #fff;
  padding: 10px 20px;
  margin-left: 78px;
  font-size: 14px;
  text-transform: uppercase;
}

#post-block .errorlist {
  color: #cc0033;
  float: left;
  clear: both;
  padding-left: 10px;
}

#post-block .link a {
  font-weight: bold;
  font-style: italic;
  color: #f15959;
}

/* comment */
div.comment {
  background-color: aquamarine;
  padding: 5px 10px;
  margin-bottom: 10px;
}

p.info {
  font-weight: bold;
  font-style: italic;
}

#content form {
  background-color: #fad3d3;
  padding: 10px;
  margin-bottom: 10px;
}

/* tags */
#post-block .tags span {
  display: inline-block;
  background-color: rgb(184, 228, 248);
  margin: 3px 5px;
  padding: 3px 5px;
}

/* recommended-posts */
#recommended-post-block {
  background-color: #dff8fc;
  border: 2px solid #87d0ec;
  margin-bottom: 10px;
  padding: 20px;
}
